@CHARSET "ISO-8859-1";

.message {
    display: none;
}
body{
	background-color: #0e173a; 
}
#reservation-list-template>table{
	margin-left:15%; 
    margin-right:15%;
	margin-top: 10%;
    width: 70%;
    height: 10em;
    padding: 0.5em,;
	text-align: left;
	border: 0.2em solid #000000;
	background-color: #80ccff;
	border-radius: 2em;
	text-transform: uppercase;
	text-align:center;	"
}

