@CHARSET "ISO-8859-1";
body{
	background: url('https://www.myholidayguru.co.uk/wp-content/uploads/2016/02/Artikelbild_Maldives_Houses-686x457.jpg');
	background-repeat:no-repeat;
	height: 100%; 
    background-position: center;
    background-size: cover;	
}

button {
    display: block;
    margin-top: 1%;
}
table{
	position: relative;
    right: 17em;
    top: 4em;
	margin: auto;
	margin-top: 10%;
    width: 70%;
    height: 260px;
    border: 3px solid #0e173a;
    border-radius: 1em;
    padding: 10px;
	text-align: left;
	background-color: #0e173a;	
}
label{
	color: #c0c0c0;
	}
#end{
	left:15em;
	}
#facility{
	left:30em;
	}
#reserved{
	position: relative;
	top:-1em;
}
#message{
	position: relative;
	top:2em;
	font-size: 150%;
	text-shadow: 1px 2px #808080;
}
.parent{
	position: relative;
	top:-6em;
}
.down
{
   position:absolute;
   top:3em;
   height:3em;
    
}
.upper
{
 position:absolute; 
 top:1em;  
}


#submitReservation{
	background-color: #80ccff;
   border: 1px solid #ffffff;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: white;
    padding: 1em 1em;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    position:relative;
    left:22em;
    top:1em;
   	
   	
	}


	

.message {
    display: none;
}